body{

background-image: url(bg1.jpg);
background-size: cover;
}

h1 {
    color: rgba(209, 19, 104, 0.616);
  
    margin-left: 610px;
  }
.main{

    width: 400px;
    margin-left: 610px;
  }
  .registartion{

   background-color: rgba(0, 0, .0, 0.5);
   width: 100%;
   font-size: 18px;
   border-radius: 10px;
   border:1px solid rgba(255,255,255, 0.3);
   box-shadow: 2px 2px 15px rgba(0, 0, .0, 0.3);
   color: #fff;
  }